.title {
  font-size: 36px;
}

.board {
  width: 800px;
}

.container {
  position: relative;
}

#hole-1 {
  position: absolute;
  top: 80px;
  left: 157px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-2 {
  position: absolute;
  top: 80px;
  left: 360px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-3 {
  position: absolute;
  top: 80px;
  left: 570px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-4 {
  position: absolute;
  top: 163px;
  left: 110px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-5 {
  position: absolute;
  top: 163px;
  left: 278px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-6 {
  position: absolute;
  top: 163px;
  left: 449px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-7 {
  position: absolute;
  top: 163px;
  left: 616px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-8 {
  position: absolute;
  top: 275px;
  left: 150px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-9 {
  position: absolute;
  top: 275px;
  left: 363px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}

#hole-10 {
  position: absolute;
  top: 275px;
  left: 580px;
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 10px;
}
